spring:
  config:
    activate:
      on-profile: local

logging:
  level:
    root: DEBUG
    org.springframework.jdbc: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
