spring:
  config:
    activate:
      on-profile: prod

logging:
  level:
    root: INFO
    org.springframework.jdbc: WARN
    org.hibernate.SQL: WARN
    org.hibernate.type.descriptor.sql.BasicBinder: OFF
    